@import url('https://fonts.googleapis.com/css?family=Montserrat');

$color1: blue;
$color2: red;

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper {
  display: flex;
}

.post-btn {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color1;
  border: 2px solid $color1;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: white;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
    
  }
  &:hover {
    background-color: $color1;
    color: #fff;
    border-bottom: 4px solid darken($color1, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}


.po-cal {
  background-color: white;
  margin-right: 30px;
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color2;
  border: 2px solid $color2;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
    
  }
  &:hover {
    background-color: $color2;
    color: #fff;
    border-bottom: 4px solid darken($color2, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}



.select-box {
  cursor: pointer;
  position : relative;
  max-width:  20em;
  margin: 5em auto;
  width: 100%;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}


.post-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pos-detl{
  width: 60vw;
  height: 40vh;
  background-color: white;
  color: black;
  box-shadow:5px 5px 0px -2px;
  border:1px solid #000;
  margin-bottom: 60px;
}

.oya {
  padding: 0.5em 1em;
  margin: 1em 0;
  background: white;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
  width: calc(100vw - 550px);
}

.card-txt {
  display: flex;
  flex-direction: column;
}

.shop-img-rem {
  background-color: #FF6600;
  color: black;
  margin-top: 15px;
  margin-right: 620px;
  box-shadow:5px 5px 0px -2px;
  border:1px solid #000;
}

.shop-img-add {
  background-color: white;
  color: black;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-right: 560px;
  box-shadow:5px 5px 0px -2px;
  border:1px solid #000;
  padding: 10px;
}

.img-rem {
  background-color: #FF6600;
  color: black;
  margin-top: 15px;
  margin-right: 240px;
  box-shadow:5px 5px 0px -2px;
  border:1px solid #000;
}



.img-add {
  background-color: white;
  color: black;
  margin-top: 30px;
  margin-bottom: 60px;
  box-shadow:5px 5px 0px -2px;
  border:1px solid #000;
  padding: 10px;
}

.post-label {
  margin-bottom: 30px;
}

.shop-datail {
  width: calc(100vw - 600px);
}

.user-shop {
  color: black;
}

.posts-index {
  display: block;
  padding: 0.6em 0.88em;
  margin-bottom: 40px;
  background: linear-gradient(to right, #00CCFF 50%, #fff 50%);
  background-size: 200% 100.5%;
  background-position: right bottom;
  font: 1.25em 'Montserrat';
  color: #020202;
  border: none;
  border-left: 0.20em solid #00CCFF;
  border-color: none;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
  transition: all .5s ease-out;
  &:hover {
    background-position: left bottom;
    color: white;
  }
}

.shop-index {
  display: block;
  padding: 0.6em 0.88em;
  margin-bottom: 40px;
  background: linear-gradient(to right, #e66465 50%, #fff 50%);
  background-size: 200% 100.5%;
  background-position: right bottom;
  font: 1.25em 'Montserrat';
  color: #020202;
  border: none;
  border-left: 0.20em solid #e66465;
  border-color: none;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
  transition: all .5s ease-out;
  &:hover {
    background-position: left bottom;
    color: white;
  }
}

.post-images {
  display: flex;
}

.shop-sprice {
  width: 150px;
}

.shop-photo {
  width: 150px;
}

.shop-region {
  width: 350px;
}
.card-texts {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.store_in {
  width: 150px;
}

.take_out {
  width: 150px;
}

.delivery {
  width: 150px;
}

#input_plural {
  display: flex;
  flex-direction: column;
}

.name {
  width: 150px;
}

.price {
  width: 150px;
}

.com-description {
  width: calc(100vw - 600px);
}

.add {
  width: 40px;
}

.del {
    width: 40px;
}

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 30px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
  background: #1856C9;
  padding: 20px;
         
}
.scrollTop a:hover{
      background: #44CAFF;
}

#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  background: rgba(0,0,0,0.45);
}
#graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
}