@-webkit-keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }

  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }

  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper {
  display: flex;
}

.chat-sub {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: blue;
  border: 2px solid blue;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.chat-sub:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.chat-sub:hover {
  background-color: blue;
  color: #fff;
  border-bottom: 4px solid #0000cc;
}

.chat-sub:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

.chat-can {
  background-color: white;
  margin-right: 30px;
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: red;
  border: 2px solid red;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.chat-can:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.chat-can:hover {
  background-color: red;
  color: #fff;
  border-bottom: 4px solid #cc0000;
}

.chat-can:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

.title {
  width: 30vw;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 0px -2px;
  border: 1px solid #000;
  margin-bottom: 30px;
}

.chat-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  width: 60vw;
  height: 40vh;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 0px -2px;
  border: 1px solid #000;
  margin-bottom: 60px;
}

