@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);@charset "UTF-8";

@-webkit-keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }

  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }

  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper {
  display: flex;
}

.review-cre {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: blue;
  border: 2px solid blue;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.review-cre:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.review-cre:hover {
  background-color: blue;
  color: #fff;
  border-bottom: 4px solid #0000cc;
}

.review-cre:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

.review-can {
  background-color: white;
  margin-right: 30px;
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: red;
  border: 2px solid red;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.review-can:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.review-can:hover {
  background-color: red;
  color: #fff;
  border-bottom: 4px solid #cc0000;
}

.review-can:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

.rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 16px;
  font-size: 16px;
}

.rate:before,
.rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2605\2605\2605\2605\2605";
  display: inline-block;
  height: 16px;
  line-height: 16px;
}

.rate:before {
  color: #ddd;
}

.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0:after {
  width: 0;
}

.rate1:after {
  width: 16px;
}

.rate1-5:after {
  width: 24px;
}

.rate2:after {
  width: 32px;
}

.rate2-5:after {
  width: 40px;
}

.rate3:after {
  width: 48px;
}

.rate3-5:after {
  width: 56px;
}

.rate4:after {
  width: 64px;
}

.rate4-5:after {
  width: 72px;
}

.rate5:after {
  width: 80px;
}

.wrap {
  width: 80px;
  margin: 0 auto;
}

.reservation-new {
  text-decoration: none;
  color: black;
}

.post-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-detail {
  width: 600px;
  height: 200px;
  margin-bottom: 50px;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 0px -2px;
  border: 1px solid #000;
  margin-bottom: 60px;
}

.select-box {
  cursor: pointer;
  position: relative;
  max-width: 20em;
  margin: 5em auto;
  width: 100%;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em "Source Sans Pro", sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}

.select-box1 {
  background: linear-gradient(#05FBFF, #1D62F0) fixed;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}

.open .label::after {
  content: "\25B2";
}

.label::after {
  content: "\25BC";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}

